{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
<div class="card-game">
    <h1>Cards</h1>

    <p>V채lkommen till kortleken. H채r kan du v채lja mellan att visa samtilga kort i kortleken, blanda korten, 
    dra ett kort samt dra valfritt antal kort fr책n kortleken.</p>
    <div class="link-buttons">
        <a href="{{ path('deck') }}" class="link-button">Visa kortlek</a>
        <a href="{{ path('shuffle_deck') }}" class="link-button">Blanda kortleken</a>
        <a href="{{ path('draw_deck') }}" class="link-button">Dra kort</a>
    </div>
</div>

{% endblock %}