{% extends "base.html.twig" %}

{% block title %}Game Lobby{% endblock %}

{% block body %}
<div class="bg-cover bg-center h-screen grid grid-cols-3 gap-4" style="background-image: url('{{ asset('img/game/lounge.jpg') }}')">
    <div class="">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% endblock %}