{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="redovisningar">
        <h1>Redovisningstexter</h1>
        <div class="kursmoment" id="kmom01">
            <h2>Kmom01</h2>
            <p>Mina förkunskaper och tidigare erfarenheter till objektorientering är 
            från den tidigare kursen 'oopython'. Där fick vi lära oss om objektorienterad 
            programmering i python. Tyckte den kursen var rolig och lärorik så jag ser 
            fram emot denna kurs också.</p>
            <p>Klasser är som en mall som definierar egenskaper (properties) och metoder, 
            alltså funktioner för den klassen. Ett objekt är en instans av en klass. 
            $this är som 'self' i oopython. Du behöver ange om en egenskap är publik, 
            privat eller protected för att man ska veta vart man kan ha åtkomst av dem. 
            Det kallas för inkapsling. Även metoderna anges om de är publika eller privata. 
            När man skapar en instas av klassen, ett objekt, så används 'new'. Konstruktorn är 
            en metod som körs automatiskt när man skapar ett objekt, där sätter man de värden 
            som hör till klassen som definierades i konstruktorn.</p>
            <p>Jag uppfattar strukturen som ganska lik från tidigare kurser där man tydligt 
            delar upp koden i olika mappar. 'src/Controller' innehåller klasserna som i tidigare 
            kurser men här definieras även routerna. I övningen kändes det som väldigt många olika 
            mappar och filer och en del rörigt men det klarnar nog till sig längre in i kursen. 
            Men jämfört med tidigare kurser så känns det som väldigt mycket fler filer att hålla koll på.</p>
            <p>Det område som direkt tilltalar mig och som jag tycker är mest intressant är 'Security'. 
            Dels på grund av att jag tidigare i livet gått en termin i Cyber Security i Australien 
            men också på grund av den osäkerhet som finns på webben ju mer vi går framåt i utveckling. 
            Även på grund av den nutida osäkerheten i världen där jag tror att IT-säkerhet verkligen 
            behövs prata mer om.<br>
            Andra områden jag skulle vilja lära mig mer om är 'Code Style' då jag känner att jag 
            verkligen skulle behöva utveckla mig i det. Att skriva ren och 'korrekt' kod för att 
            förtydliga för mig själv i framtida projekt men även underlätta för andra som ska sätta 
            sig in i min kod. Även att dokumentera min kod behöver jag bli mycket bättre på så den 
            delen känns nödvändig.</p>
            <p>Min TIL för detta kursmoment är att arbeta med Symfony och hur klasser fungerar i PHP. 
            Det skiljer sig lite mot Python men ändå inte. Även hur man skriver en README och varför 
            det används. Tidigare har jag inte riktigt brytt mig om den filen.</p>
        </div>
        <div class="kursmoment" id="kmom02">
            <h2>Kmom02</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom03">
            <h2>Kmom03</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom04">
            <h2>Kmom04</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom05">
            <h2>Kmom05</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom06">
            <h2>Kmom06</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom10">
            <h2>Kmom10</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
    </div>


{% endblock %}