{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="redovisningar">
        <h1>Redovisningstexter</h1>
        <div class="kursmoment" id="kmom01">
            <h2>Kmom01</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom02">
            <h2>Kmom02</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom03">
            <h2>Kmom03</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom04">
            <h2>Kmom04</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom05">
            <h2>Kmom05</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom06">
            <h2>Kmom06</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
        <div class="kursmoment" id="kmom10">
            <h2>Kmom10</h2>
            <p>Här visas redovsningstext för kursmomentet</p>
        </div>
    </div>


{% endblock %}